# Build
build/
.gradle/
*.apk
*.aab
app/release
app/build

# Gradle wrapper jar is needed
!gradle/wrapper/gradle-wrapper.jar

# Local & IDE
local.properties
.idea/
*.iml

# Signing
*.jks
*.keystore
keystore.properties

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/
